{% extends 'base.html' %}
{% load humanize %}
{% load date_th %}
{% load tz %}

{% block title %}<title>{{activity.title}}</title>{% endblock %}


{% block content %}

<div class="card">
    <img src="{{activity.image.url}}" class="card-img-top" style="height:300px; object-fit:scale-down;" alt="{{activity.title}}">
    <div class="card-body">
        <h5 class="card-title">{{activity.title}}</h5>
        <p class="card-text">{{activity.description}}</p>
        <p class="text-muted">วันที่ : {{activity.date_start|date_th}}</p>
        <p class="text-muted">เวลา : {{activity.date_start|localtime|time_th }} น.</p>
        <p class="text-muted">จำนวนหน่วยกิจ : {{activity.activity_category}}</p>
        <div class="border p-2 bg-light rounded mb-2">
            {{activity.detail|safe}}
        </div>
        <a href="{% url 'ticket-create' activity.id %}" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket"></i>  ลงทะเบียน</a>
    </div>
        
{% endblock %}