
{% extends 'base.html' %}
{% block title %}<title>Teacher</title>{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center">
    {% for teachers in teachers %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{teachers.image.url}}" class="card-img-top" style="padding: 10px; height:200px; object-fit:scale-down;" alt="{{organizer.name}}">
            <div class="card-body">
                <h5 class="card-title">{{teachers.name}}</h5>
                <p class="card-text border p-2 bg-light rounded">{{teachers.description}}</p>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a href="{% url 'bulk_reset_profiles' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-address-book"></i> รีเซ็ตข้อมูลนักเรียน</a>
                    <a href="{% url 'bulk_edit_profiles' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-address-book"></i> แก้ไขข้อมูลนักเรียน</a>
                    <a href="{% url 'attendance_list' %}" class="btn btn-outline-secondary"><i class="fa-regular fa-pen-to-square"></i> เช็คชื่อ</a>
                    <a href="{% url 'select_checkin' %}" class="btn btn-outline-secondary"><i class="fa-regular fa-pen-to-square"></i> เช็คชื่อย้อนหลัง</a>
                    <a href="{% url 'daily_report' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-list-check"></i> รายงานการเช็คชื่อรายวัน</a>
                    <a href="{% url 'report_list' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-file-pdf"></i> สรุปรายงานการเช็คชื่อ</a>
                    <a href="{% url 'sum_report' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-file-export"></i> พิมพ์สรุปรายงาน</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}