{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}<title>Ticket | {{ticket.activity}}</title>{% endblock %}

{% block content %}
<div class="card-body bg-body-tertiary p-4 rounded">
    <h1 class="mb-2">{{ticket.activity}}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <p class="border p-2 bg-body-secondary rounded mt-2"><em>ติดต่อ : {{activity.organizer}}</em></p>
        <button type="submit" class="btn btn-success"><i class="fa-regular fa-floppy-disk"></i> บันทึก</button>
        <a href="{{ticket.get_absolute_url}}" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i> กลับ</a>
    </form>
</div>

<!-- mask -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}