{% extends 'base.html' %}

{% block content %}
  <h1>นักเรียน</h1>
  <!-- <div class="col-12 mb-3">
    <div class="d-grid gap-2">
      <a href="{% url 'student-search' %}" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i> ค้นหารายชื่อนักเรียน</a>
    </div>
  </div> -->
  <table>
    <tr>
      <th>รหัสประจำตัว</th>
      <th>ชื่อ-สกุล</th>
      <th>ห้อง</th>
      <th>ชั้นปี</th>
      <th>แผนก</th>
    </tr>
    {% for student in object_list %}
    <tr>
      <td>{{ student.student_number }}</td>
      <td>{{ student.first_name }} {{ student.last_name }}</td>
      <td class="text-center">{{ student.room }}</td>
      <td class="text-center">{{ student.degree }}</td>
      <td>{{ student.department }}</td>
    </tr>
    {% endfor %}
  </table>
  <style>
    table {
        border-collapse: collapse; /* Combine cell borders */
        width: 100%; /* Make table fit the container */
    }

    th, td {
        padding: 5px; /* Add padding around cell content */
        border: 1px solid #ddd; /* Add thin border */
    }

    th {
        text-align: center;
        background-color: #f0f0f0; /* Highlight table headers */
    }
    h1 {
        text-align: center;
    }
    td input[type="checkbox"] {
    margin: auto; /* Center the checkbox horizontally */
    display: block; /* Make the checkbox block-level */
    }
  </style>
{% endblock %}