{% extends 'base.html' %}
{% load static %}
{% load date_th %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center">Report</h1>
<div class="row justify-content-center">
    {% for report in reports %}
        <div class="col-md-2 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ report.att_name }}</h5>
                    <a href="{{ report.get_absolute_report_url }}" class="btn btn-primary">รายงานความก้าวหน้า</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
