{% if request.user.is_authenticated %}
<ul
  class="shadow-sm bg-body-tertiary rounded nav col-12 col-lg-auto justify-content-center my-md-0 fixed-bottom d-flex">
  <li>
    <a href="{% url 'activity-list' %}" class="nav-link text-dark text-center">
      <i class="fa-solid fa-bullhorn bi d-block mx-auto mb-1 icon-responsive"></i>
      <span class="text-responsive">กิจกรรมพิเศษ</span>
    </a>
  </li>
  <li>
    <a href="{% url 'self_report' %}" class="nav-link text-dark text-center">
      <i class="fa-solid fa-chart-simple bi d-block mx-auto mb-1 icon-responsive"></i>
      <span class="text-responsive">สถานะกิจกรรม</span>
    </a>
  </li>
  <li>
    <a href="{% url 'ticket-list' %}" class="nav-link text-dark text-center">
      <i class="fa-solid fa-ticket bi d-block mx-auto mb-1 icon-responsive"></i>
      <span class="text-responsive">กิจกรรมที่ลงทะเบียน</span>
    </a>
  </li>
</ul>
{% else %}
{% endif %}
<style>
.icon-responsive {
  font-size: 2rem; /* Default size for large screens */
}

.text-responsive {
  font-size: 1rem; /* Default size for large screens */
}

/* Media queries for tablet screens */
@media (max-width: 768px) {
  .icon-responsive {
    font-size: 1.4rem; /* Smaller icon for tablet */
  }

  .text-responsive {
    font-size: 0.7rem; /* Smaller text for tablet */
  }
}

/* Media queries for mobile screens */
@media (max-width: 576px) {
  .icon-responsive {
    font-size: 1.4rem; /* Smaller icon for mobile */
  }

  .text-responsive {
    font-size: 0.7rem; /* Smaller text for mobile */
  }
}

/* Optional: Add horizontal scrolling for very small screens */
@media (max-width: 350px) {
  .icon-responsive {
    font-size: 1.2rem; /* Smaller icon for mobile */
  }

  .text-responsive {
    font-size: 0.6rem; /* Smaller text for mobile */
  }
}
</style>